@font-face {
    font-family: 'Montserrat';
    font-style: 'Regular';
    font-weight: 400;
    src: url('/fonts/Montserrat-Regular.eot');
    src: local('Monserrat'), local('Monserrat-Regular'),
         url('/fonts/Monserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Montserrat-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: 'Bold';
    font-weight: 900;
    src: url('/fonts/Montserrat-Black.eot');
    src: local('MonserratBlack'), local('Monserrat-Black'),
         url('/fonts/Monserrat-Black.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Montserrat-Black.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: 'SemiBold';
    font-weight: 600;
    src: url('/fonts/Montserrat-SemiBold.eot');
    src: local('MonserratSemiBold'), local('Monserrat-SemiBold'),
         url('/fonts/Monserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Montserrat-SemiBold.woff') format('woff');
}
body{
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 12px;
    line-height: 13px;
    color: #222;
}
body.nav-opened{
    position: fixed;
}
@media (min-width: 768px){
    body.nav-opened{
        position: inherit;
    }
}
a,a:visited{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #3da5cb;
}
button{
    font: inherit;
    text-align: center;
    vertical-align: middle;
    color: #fff;

    background-color: #3da5cb;
    border: 0;
    cursor: pointer;
}
.visually-hidden{
    position:absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*******header************/
.main-header {
    background-color: #fff;
}
.main-header__wrapper{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px){
    .main-header{}
    .main-header__wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0 30px;
    }
}
@media (min-width: 1200px){
    .main-header__wrapper{
        width: 1140px;
        padding: 25px 15px 20px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
}
.main-header__logo{
    text-align: center;
}
.logo-img {
    max-width:100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-header__regionChois{
    padding: 0;
    text-align: center;
    margin: 10px 0px;
    line-height: 30px;
    display: none;
}
@media (min-width:768px){
    .main-header__regionChois{
        padding-left: 30px;
        margin: 0;
        flex-basis: 160px;
    }
}
.regionChois__cityLink {
    font-size: 12px;
    border-bottom: 1px dashed;
}
.regionChois__cityLink:hover {
    color: #3da5cb;
}

/**** NAVIGATION ******/

.navigation {
    position: relative;
    display: flex;
    justify-content: flex-end;
    min-height: 50px;
    max-width: 260px;
    margin-top: -50px;
}
@media (min-width:768px){
    .navigation{
        max-width: none;
        flex-basis: 650px;
        margin-top: 0px;
        min-height: none;
        flex-grow: 2;
        justify-content: space-around;
    }
}
@media (min-width:1200px){
    .navigation{
        justify-content: flex-end;
    }
}
.navigation--closed .navigation-background{
    display: none;
}
.navigation--opened .navigation-background{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
    transition: 1s ease-in-out 0.5s;
}
.navigation__toggle-btn{
    position: absolute;
    top:0;
    left: 0;

    display: block;
    width: 50px;
    height: 40px;
    background-color: #3da5cb;
    cursor: pointer;
    border: none;
    z-index: 2;

    transition: 0.5s ease-in-out 0.2s;
}
@media (min-width:768px){
    .navigation__toggle-btn{
        display: none;
    }
    .navigation-background{
        display: none;
    }
}
.navigation__toggle-btn:active{
    background-color: #49aed6;
}
.navigation--closed .navigation__toggle-btn::before{
    content: "";

    position: absolute;
    top: 11px;
    left: 8px;

    width: 34px;
    height: 3px;
    background-color: #fff;

    box-shadow: 0 8px 0 0 #fff, 0 16px 0 0 #fff;
}
.navigation--closed .navigation__toggle-btn:active::before{
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0 8px 0 0 rgba(255,255,255,0.4), 0 16px 0 0 rgba(255,255,255,0.4);
}
.navigation--opened .navigation__toggle-btn{
    top:0;
    left: 260px;
    transition: 0.5s ease-in-out 0.2s;
}
.navigation--opened .navigation__toggle-btn::before{
    content:"";

    position: absolute;
    top:20px;
    left:10px;

    width: 32px;
    height: 2px;

    background-color: #fff;
    transform: rotate(45deg);
}
.navigation--opened .navigation__toggle-btn::after{
    content:"";

    position: absolute;
    top:20px;
    left:10px;

    width: 32px;
    height: 2px;

    background-color: #fff;
    transform: rotate(-45deg);
}
.site-navigation {
    margin: 0;
    padding: 0;

    list-style: none;
    font-size: 14px;
    line-height: 18px;

    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    z-index: 2;

    transition: 0.5s ease-in-out 0.2s;
}
.navigation--closed .site-navigation{
    margin-left: -260px;
    transition: 0.5s ease-in-out 0.2s;
}
.navigation-opened .site-navigation{
    margin-left: 0px;
    transition: 1s ease-in-out 0.5s;
}
@media (min-width: 768px){
    .site-navigation{
        min-height:unset;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        width: 650px;
    }
    .navigation--closed .site-navigation{
        margin-left: 0px;
    }
}
@media (min-width: 1200px){
    .site-navigation{
        width: 650px;
    }
}
.site-navigation__item{
    border-bottom: 1px solid #ddd;
}
.site-navigation__link{
    padding:10px 0px 10px 72px;
    display: block;
}
.site-navigation__link.current span{
    border-bottom: 1px dashed #000;
}
.site-navigation__link.current:hover span{
    border-bottom: 1px dashed #3da5cb;
}
.site-navigation__link::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 32px;

    margin-left: -32px;
    padding-right: 10px;

    background-image: url(/icons/credit.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.site-navigation__link--credits::before {
    background-image: url(/icons/credit.png);
}
.site-navigation__link--creditcards::before {
    background-image: url(/icons/credit-card.png)
}
.site-navigation__link--mortgage::before{
    background-image: url(/icons/mortgage.png)
}
.site-navigation__link--calculator::before {
    background-image: url(/icons/calculator.png)
}
@media (min-width: 768px){
    .site-navigation__item{
        border-bottom: none;
    }
    .site-navigation__link{
        padding: 10px 0px 10px 32px;
    }
}

/****** Main Baner **********/

.main-baner {
    background-color: #3da5cb;
    background-image: url(../icons/bg_banner_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-baner__wrapper{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position:relative;
}
.main-baner_cover{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
.main-baner-img {
    display:none;
}
.main-baner-title {
    margin-top: 15px;
    font-size: 26px;
    padding-left: 30px;
    line-height: 28px;
    color: #fff;
    text-align: center;
}
@media (min-width:768px){
    .main-baner__wrapper{
        padding: 0px 30px;
    }
    .main-baner-filter{
        display: flex;
        flex-direction: column;
/*        padding-left: 30px;*/
        margin-top: 35px;
        font-size: 18px;
        line-height: 45px;
    }
    .main-baner-title {
        margin-top: 45px;
        font-size: 48px;
        line-height: 55px;
    }
}
 /********* Filter Form ***********/
.baner-filter-form--sendFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
}
.banner-filter-form_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.baner-filter__first-input-group{
    width: 285px;
}
.banner-filter-form_wrapper p{
    margin: 0;
    padding: 0;
}
.baner-filter__second-input-group{
    width:305px;
}
label {
    color:#fff;
}
.inputCreditValue {
    width:280px;

    text-align: center;
    font-size: 36px;
/*    line-height: 50px;*/
    background-color: #53b5d700;
    color: #fff;
    font-weight: 900;
    
    border: 1px solid #53b5d7;
    border-radius: 4px;
}
.input--month-year-counter{
    padding-left: 20px;
    padding-right: 20px;
    width: 60px;
    text-align: center;
    font-size: 36px;
    line-height: 50px;
    background-color: #53b5d700;
    color: #fff;
    font-weight: 900;
    border: 2px solid #53b5d7;
}
.input--month-year-select{
    margin-left: 20px;
    text-align: center;
    font-size: 36px;
    line-height: 50px;
    padding-left: 30px;
    background-color: #53b5d700;
    color: #fff;
    font-weight: 900;
    border: 2px solid #53b5d7;
}
.input--month-year-range{
}
.baner-filter__buttons-group{
/*
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 35px;
*/
}
.submit-filter-btn {
    width: 260px;
    line-height: 50px;

    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;

    background-color: #ef2445;
}
.baner-filter-results-count {
    font-size: 14px;
    color: #7fc5e3;
}
.more-params-btn {
    position: relative;
    font-size: 14px;
    line-height: 30px;
    color: #fff;

    width: 110px;
    padding-left: 15px;
    padding-right: 15px;

    border: 1px solid #fff;
    display: block;
}
.more-params-btn span {
    position: absolute;
    top:-10px;
    right: -10px;

    width: 25px;
    height: 25px;
    background-color: #ef2445;

    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
}
@media (min-width: 768px){
    .main-baner__wrapper{
        width: auto;
        flex-direction: column;
        margin-top: 10px;
    }
    .main-baner-img{
        display: block;
/*        width: 165px;*/
        height: 100%;
        margin-top: -10px;
        margin-bottom: -25px;
    }
    .baner-filter-form--sendFilter {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .baner-filter__first-input-group{
        padding-right: 65px;
        width: 320px;
    }
    .banner-filter-form_wrapper{
        flex-direction: row;
    }
    .baner-filter__second-input-group{
        width:360px;
/*        padding-top: 35px;*/
    }
    
    .inputCreditValue {
        width:320px;
        padding: 10px 0 8px;
    }
}
@media (min-width: 1200px){
    .main-baner__wrapper{
        width: 1140px;
        flex-direction: column;
    }
    .baner-filter__second-input-group{
        padding-top: 0px;
    }
}


.main-content{
    background-color:#f2f2f2;
    padding-bottom: 60px;
}
.main-content__wrapper{
    padding-top: 40px;
    margin: 0px 15px;
}
@media (min-width: 768px){
    .main-content__wrapper{
        margin: 0px 30px;
    }
}
@media (min-width: 1200px){
    .main-content__wrapper{
        width: 1140px;
        flex-direction: row;
        margin: auto;
    }
}

/********* Credits FastFilter*********/

.main-credits__fastfilter {
    display: block;
    min-height: 50px;
}
.fastfilter-list{
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 40px;
}
.fastfilter-item {
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 10px;
}
.fastfilter-item span{
    color: #fff;

    height: 35px;
    background-color: #505354;
    text-align: center;

    padding-left: 25px;
    padding-right: 25px;
    display: block;
}
.fastfilter-item span:hover{
    background-color: #35a1c8;
    opacity: 0.7;
}
.fastfilter-item.active{
    background-color: #35a1c8;
    color:#fff;
}

/****** Credits Table ********/
.credits-table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    display: none;
}
@media (min-width:768px){
    thead{
        display: table-header-group;
        line-height: 40px;
    }
    thead tr {
    }
    thead th {
        background-color: #ffffff;
        border-right: 8px solid #f2f2f2;
        border-bottom: 8px solid #f2f2f2;
        box-shadow: inset 0px 0 0 1px #e1e1e1;
    }
    thead th:last-child{
        border-right: 0px;
    }
}

tbody {
}
tbody tr{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-bottom: 15px solid #f2f2f2;
    flex-wrap: wrap;
}
tbody td{
    display: block;
    vertical-align: middle;
    padding: 15px 10px;
}
@media (min-width:768px){
    tbody tr {
        display: table-row;
        border-bottom: 8px solid #f2f2f2;
    }
    tbody td{
        display: table-cell;
    }
}

.bank-interest-rate{
    font-size: 24px;
    font-weight: 600;
}
.bank-product-name{
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
.credit-sum-props{
    margin: 0;
    padding: 0;
}
.credit-min-sum,
.credit-max-sum {
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
}
.documents-list{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 18px;
}
.documents-item::before {
    content: "✓ ";
    color: #77d96f;
    font-size: 18px;
}
.features-list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 18px;
}
.features-item {
}
.features-item::before {
    content: "+ ";
    color: #F54819;
    font-size: 22px;
}
.bank-rate-stars{
    margin: 0;
    padding: 0;
    list-style: none;
}
.stars-item {
    display: inline-block;
}
.stars-item svg{
    width: 14px;
    height: 14px;
}
.comments-count {
    display: block;
}
a.gotothebank-btn {
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    margin-top: 15px;
    display: block;
    width: 150px;
    background-color: #3598db;
}
tfoot{
    background-color: #fff;
}
.load-more {
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}
.load-more::before{
    content: '↻';
    line-height: 50px;
    font-size: 24px;
    font-weight: 400;
    margin-right: 10px;
}

/***************************************************/
.main__taken-stats {
    padding: 40px 20px 60px;
    color:#3598db;
}
.taken-stats-title {
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
}
.taken-stats-count {
    display: block;
    font-size: 72px;
    text-align: center;
    line-height: 72px;
    font-weight: 700;
}
.main__about {
    background: #fff;
    padding: 40px 20px 60px;
}
.about-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
}
.about-text {
    font-size: 16px;
    line-height: 24px;
}
@media (min-width:768px){
    .main__about {
        padding: 40px 50px 60px;
    }
}
.footer {
    background-color: #343a40;
    color: #fff;
}
.footer__wrapper{
    padding: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}
@media (min-width:768px){
    .footer__wrapper{
        flex-direction: row;
    }
}
@media (min-width: 1200px){
    .footer__wrapper{
        width: 1140px;
        padding: 25px 15px 20px;
        margin: 0 auto;
    }
}
.copyright {
    margin: 0;
    padding: 0;
    width: 165px;
    margin: auto;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
}
.footer-logo {
    width: 165px;
    height: auto;
}
.copyright-text {
}
.site-navigation--footer {
    background-color: #343a40;
    min-height: unset;
    position: relative;
    width: auto;
    text-align: center;
}
@media (min-width:768px){
    .site-navigation--footer{
        max-width: 760px;
        width: 100%;
        text-align: inherit;
    }
    .copyright {
        margin: 0;
        padding: 0;

        margin-top: 0px;
        padding-top: 0px;
        width: 165px;
        border-top: none;
    }
}
.site-navigation__item--footer {
    background-color: #343a40;
    border: none;
}
.site-navigation__item--footer a{
    color: #fff;
    padding-left: 22px;
}
.site-navigation__item--footer a:hover{
    color: #3da5cb;
}
.site-navigation__link--footer.current span{
    border-bottom-color: #fff;
}
.site-navigation__item--footer a::before{
    content: none;
}

/*********** Range Customization *******/
input[type=range] {
  -webkit-appearance: none;
  margin: 25px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #49aed6;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: 0;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
  box-shadow: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #49aed6;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #49aed6;
}
input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: 0;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
  box-shadow: none;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #49aed6;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #49aed6;
}
input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: 0;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
  box-shadow: none;
}
input[type=range]:focus::-ms-fill-lower {
  background: #fff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #fff;
}
@media (min-width:768px){
    input[type=range] {
      margin: 48px 0;
    }
}
/******** Calculator *********/
.calculator{
    padding: 0px 50px;
}
.calculator-form{
    border: 15px solid #bbb;
    padding: 20px;
}
.items-wrapper{
    display:flex;
    flex-wrap: wrap;
}
.form-item{
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 20px;
    font-size: 16px;
}
.form-item--content-center{
    justify-content: center;
}
.form-footer{
    margin-top: 25px;
    border-top: 1px solid #bbb;
    padding-top: 25px;
}
.form-item_title{
    flex-basis: 150px;
    font-weight: 600;
    padding-right: 15px;
    line-height: 20px;
}
.form-item_body{
    display: flex;
    flex-basis: 255px;
    flex-wrap: wrap;
}
.form-item_body--no-basis{
    flex-basis: auto;
}
.form-item_body--no-wrap{
    flex-wrap: nowrap;
}
.radio-btn{
    padding: 10px;
    font-weight: 300;
    background-color: #ddd;
    color: #333;
}
.radio-btn--active{
    color:#fff;
    background-color:#3da5cb;
    box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.2);
}
.input{
    padding: 10px;
    border: 0;
    border: none;
    border: 1px solid #888;
}
.submit-button{
    padding: 10px;
    font-weight: 600;
}
/***** select *****/
.select_toggler{
    border: 1px solid #888;
    background-color: #fff;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.select_toggler_text {
    padding: 12px 5px;
    width: 30px;
}
.select_toggler_trigger:after{
    content: "▼";
    padding: 12px 5px;
}
.select_dropdown{
    display: none;
    position: absolute;

}
.select_dropdown.opened{
    display: block;
}
.select_dropdown__list{
    list-style: none;
    background: #fff;
    margin: 0;
    padding: 0;
    width: 62px;
}
.select_dropdown__item{
    padding: 12px 5px;
    display: block;
/*    border-bottom: 1px solid #ddd;*/
}
.select_dropdown__item--selected{
    background-color: #3da5cb;
    color:#fff;
}
.select_dropdown__item:hover{
    background-color: #ddd;
}

/********* calculator-results ***********//

.calculator-results {
    padding: 0 50px;
    margin-top: 50px;
}
@media (min-width:768px){
    .calculator-results {
        padding: 50px 50px 30px;
        margin-top: 50px;
    }
}
.table-row {
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    font-weight: 600;
}

.calculator-results_date {
    padding: 10px 20px;
}
.calculator-results_payment{
    padding: 10px 20px;
}