<!DOCTYPE HTML>
<html>
    <head>
        <title>ВсеКредиты</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header class="main-header">
            <div class="main-header__wrapper">
            <a href="" class="main-header__logo">
                <img src="icons/logo.png" alt="" class="logo-img">
            </a>
            <p class="main-header__regionChois">
                <span>Ваш регион:</span>
                <a href="" class="regionChois__cityLink">
                    <span>Липецк</span>
                </a>
            </p>
            <nav class="navigation navigation--closed">
                <div class="navigation-background"></div>
                <ul class="site-navigation">
                    <li class="site-navigation__item">
                        <a href="/crdits.html" class="site-navigation__link site-navigation__link--credits current"><span>Кредиты</span></a>
                    </li>
                    <li class="site-navigation__item">
                        <a href="/creditCards.html" class="site-navigation__link site-navigation__link--creditcards"><span>Кредитные карты</span></a>
                    </li>
                    <li class="site-navigation__item">
                        <a href="/mortgage.html" class="site-navigation__link site-navigation__link--mortgage"><span>Ипотеки</span></a>
                    </li>
                    <li class="site-navigation__item">
                        <a href="/calculator.html" class="site-navigation__link site-navigation__link--calculator"><span>Калькулятор кредитов</span></a>
                    </li>
                </ul>
                <button class="navigation__toggle-btn">
                    <span class="visually-hidden">Открыть меню</span>
                </button>
            </nav>
            </div>
        </header>
        <section class="main-baner">
            <div class="main-baner_cover"></div>
            <div class="main-baner__wrapper">
                <div class="main-baner-filter">
                    <h2 class="main-baner-title">Сколько не хватает до мечты?</h2>
                    <form action="" class="baner-filter-form--sendFilter">
                        <div class="banner-filter-form_wrapper">
                            <div class="baner-filter__first-input-group">
                                <label for="inputCreditValue">
                                    <p>Сумма кредита, Р</p>
                                    <input type="text" value="1 000 000" class="inputCreditValue" id="filter_input_sum">
                                    <input type="range" min="1000" max="5000000" step="1000" value="1000000" id="filter_range_sum">
                                </label>
                            </div>
    <!--
                            <div class="baner-filter__second-input-group">
                                <label for="">
                                    <p>Срок, мес.</p>
                                    <input class="input--month-year-counter" value="11" id="filter_input_duration">
                                    <select name="" class="input--month-year-select" id="filter_select_duration">
                                        <option value="month">месяц</option>
                                        <option selected value="year">год</option>
                                    </select>
                                </label>
                                <input type="range" min="1" max="20" step="1" value="11" id="filter_range_duration" class="input--month-year-range">
                            </div>
    -->
                            <div class="baner-filter__buttons-group">
                                <button class="submit-filter-btn">Подобрать кредит</button>
    <!--
                                <p class="baner-filter-results-count">Найдено <span>{{item.count}}</span> кредитов</p>
                                <a class="more-params-btn">&#43; Еще условия<span>5</span></a>
    -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <div class="main-content">
            <div class="main-content__wrapper">
                <section class="main-credits">
                    <div class="main-credits__fastfilter">
                            <ul class="fastfilter-list">
                                <li class="fastfilter-item">
                                    <a href="#"><span>Рефинансирование</span></a>
                                </li>
                                <li class="fastfilter-item">
                                    <a href="#"><span>Без справок о доходах</span></a>
                                </li>
                                <li class="fastfilter-item">
                                    <a href="#"><span>Без залога и поручителей</span></a>
                                </li>
                                <li class="fastfilter-item">
                                    <a href="#"><span>Только по паспорту</span></a>
                                </li>
                                <li class="fastfilter-item">
                                    <a href="#"><span>В день обращения</span></a>
                                </li>
                            </ul>
                    </div>
                    <table class="credits-table">
                        <thead>
                            <th>Банк</th>
                            <th>Ставка</th>
                            <th>Сумма</th>
                            <th>Документы</th>
                            <th>Преимущества</th>
                            <th>Рейтинг банка</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="/icons/bank_logo.jpg" alt="" class="bank-logo">
                                </td>
                                <td>
                                    <span class="bank-interest-rate">от 12.5%</span>
                                    <p class="bank-product-name">
                                        &laquo;
                                        <span>Рефинансирование</span>
                                        &raquo;
                                    </p>
                                </td>
                                <td>
                                    <p class="credit-sum-props">
                                        <span class="credit-min-sum">от {{min_sum}} Р</span><br>
                                        <span class="credit-max-sum">до {{max_sum}} Р</span><br>
                                        <span class="credit-term">На срок до {{term}} лет</span>
                                    </p>
                                </td>
                                <td>
                                    <ul class="documents-list">
                                        <li class="documents-item">Паспорт РФ + 1 документ</li>
                                        <li class="documents-item">Без справок о доходах</li>
                                        <li class="documents-item">Без залога</li>
                                        <li class="documents-item">Без поручительства</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="features-list">
                                        <li class="features-item">Быстрая подача</li>
                                        <li class="features-item">Без поручителей</li>
                                        <li class="features-item">В день подачи</li>
                                        <li class="features-item">Только паспорт</li>
                                    </ul>
                                </td>
                                <td>
                                        <ul class="bank-rate-stars">
                                            <li class="stars-item">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve" width="512px" height="512px">
<path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558  s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024  l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506  c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017  l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z" fill="#c5c8c9"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                            </li>
                                            <li class="stars-item">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve" width="512px" height="512px">
<path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558  s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024  l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506  c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017  l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z" fill="#c5c8c9"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                            </li>
                                            <li class="stars-item">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve" width="512px" height="512px">
<path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558  s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024  l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506  c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017  l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z" fill="#c5c8c9"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                            </li>
                                            <li class="stars-item">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve" width="512px" height="512px">
<path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558  s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024  l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506  c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017  l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z" fill="#c5c8c9"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                            </li>
                                            <li class="stars-item">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve" width="512px" height="512px">
<path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558  s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024  l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506  c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017  l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z" fill="#c5c8c9"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                            </li>
                                        </ul>
                                        <span class="comments-count">{{count}}</span>
                                        <a href="" class="gotothebank-btn">ПЕРЕЙТИ В БАНК</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="/icons/bank_logo.jpg" alt="" class="bank-logo">
                                </td>
                                <td>
                                    <span class="bank-interest-rate">от 12.5%</span>
                                    <p class="bank-product-name">
                                        &laquo;
                                        <span>Рефинансирование</span>
                                        &raquo;
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <span class="credit-min-sum">от {{min_sum}} Р</span><br>
                                        <span class="credit-max-sum">до {{max_sum}} Р</span><br>
                                        <span class="credit-term">На срок до {{term}} лет</span>
                                    </p>
                                </td>
                                <td>
                                    <ul class="documents-list">
                                        <li class="documents-item">Паспорт РФ + 1 документ</li>
                                        <li class="documents-item">Без справок о доходах</li>
                                        <li class="documents-item">Без залога</li>
                                        <li class="documents-item">Без поручительства</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="features-list">
                                        <li class="features-item">Быстрая подача</li>
                                        <li class="features-item">Без поручителей</li>
                                        <li class="features-item">В день подачи</li>
                                        <li class="features-item">Только паспорт</li>
                                    </ul>
                                </td>
                                <td>
                                        <ul class="bank-rate-stars">
                                            <li class="stars-item">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve" width="512px" height="512px">
<path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558  s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024  l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506  c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017  l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z" fill="#c5c8c9"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                            </li>
                                            <li class="stars-item">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve" width="512px" height="512px">
<path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558  s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024  l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506  c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017  l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z" fill="#c5c8c9"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                            </li>
                                            <li class="stars-item">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve" width="512px" height="512px">
<path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558  s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024  l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506  c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017  l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z" fill="#c5c8c9"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                            </li>
                                            <li class="stars-item">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve" width="512px" height="512px">
<path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558  s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024  l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506  c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017  l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z" fill="#c5c8c9"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                            </li>
                                            <li class="stars-item">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve" width="512px" height="512px">
<path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558  s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024  l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506  c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017  l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z" fill="#c5c8c9"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                            </li>
                                        </ul>
                                        <span class="comments-count">{{count}}</span>
                                        <a href="" class="gotothebank-btn">ПЕРЕЙТИ В БАНК</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="/icons/bank_logo.jpg" alt="" class="bank-logo">
                                </td>
                                <td>
                                    <span class="bank-interest-rate">от 12.5%</span>
                                    <p class="bank-product-name">
                                        &laquo;
                                        <span>Рефинансирование</span>
                                        &raquo;
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <span class="credit-min-sum">от {{min_sum}} Р</span><br>
                                        <span class="credit-max-sum">до {{max_sum}} Р</span><br>
                                        <span class="credit-term">На срок до {{term}} лет</span>
                                    </p>
                                </td>
                                <td>
                                    <ul class="documents-list">
                                        <li class="documents-item">Паспорт РФ + 1 документ</li>
                                        <li class="documents-item">Без справок о доходах</li>
                                        <li class="documents-item">Без залога</li>
                                        <li class="documents-item">Без поручительства</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="features-list">
                                        <li class="features-item">Быстрая подача</li>
                                        <li class="features-item">Без поручителей</li>
                                        <li class="features-item">В день подачи</li>
                                        <li class="features-item">Только паспорт</li>
                                    </ul>
                                </td>
                                <td>
                                        <ul class="bank-rate-stars">
                                            <li class="stars-item">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve" width="512px" height="512px">
<path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558  s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024  l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506  c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017  l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z" fill="#c5c8c9"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                            </li>
                                            <li class="stars-item">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve" width="512px" height="512px">
<path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558  s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024  l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506  c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017  l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z" fill="#c5c8c9"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                            </li>
                                            <li class="stars-item">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve" width="512px" height="512px">
<path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558  s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024  l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506  c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017  l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z" fill="#c5c8c9"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                            </li>
                                            <li class="stars-item">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve" width="512px" height="512px">
<path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558  s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024  l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506  c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017  l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z" fill="#c5c8c9"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                            </li>
                                            <li class="stars-item">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve" width="512px" height="512px">
<path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558  s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024  l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506  c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017  l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z" fill="#c5c8c9"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                            </li>
                                        </ul>
                                        <span class="comments-count">{{count}}</span>
                                        <a href="" class="gotothebank-btn">ПЕРЕЙТИ В БАНК</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <th colspan="6"><span class="load-more">Показать еще предложения</span></th>
                        </tfoot>
                    </table>
                </section>
                <section class="main__taken-stats">
                    <h2 class="taken-stats-title">Сегодня Заявок Оформлено:</h2>
                    <span class="taken-stats-count">000000</span>
                </section>
                <section class="main__about">
                    <h2 class="about-title">Все кредиты</h2>
                    <p class="about-text">Крупнейший независимый финансовый портал Рунета, один из самых цитируемых медиаресурсов финансовой отрасли России, одно из самых цитируемых финансовых СМИ в социальных медиа. Основан в 2005 году. Акционеры — Филипп и Кирилл Ильины-Адаевы, Елена Ищеева, инвестиционный фонд Russia Partners. Портал освещает события и предлагает продукты банковского, страхового, телекоммуникационного и инвестиционного рынков. Ежемесячная аудитория Banki.ru превышает 7,5 миллионов уникальных пользователей.</p>
                    <p class="about-text">Портал освещает события и предлагает продукты банковского, страхового, телекоммуникационного и инвестиционного рынков. Ежемесячная аудитория Banki.ru превышает 7,5 миллионов уникальных пользователей.</p>
                </section>
            </div>
        </div>
        <footer class="footer">
           <div class="footer__wrapper">
            <p class="copyright">
                <img src="icons/logo_dark.png" alt="" class="footer-logo">
                <span class="copyright-text">Все права защищены &copy;2018-2019</span>
            </p>
            <ul class="site-navigation site-navigation--footer">
                <li class="site-navigation__item site-navigation__item--footer"><a href="" class="site-navigation__link site-navigation__link--footer current"><span>Кредиты</span></a></li>
                <li class="site-navigation__item--footer"><a href="" class="site-navigation__link site-navigation__link--footer"><span>Кредитные карты</span></a></li>
                <li class="site-navigation__item--footer"><a href="" class="site-navigation__link site-navigation__link--footer"><span>Ипотеки</span></a></li>
                <li class="site-navigation__item--footer"><a href="" class="site-navigation__link site-navigation__link--footer"><span>Калькулятор кредитов</span></a></li>
            </ul>
            </div>
        </footer>
        <script>
            var filterRangeSum = document.getElementById("filter_range_sum");
            var filterInputSum = document.getElementById("filter_input_sum");
//            var filterRangeDuration = document.getElementById("filter_range_duration");
//            var filterInputDuration = document.getElementById("filter_input_duration");
//            var filterSelectDuration = document.getElementById("filter_select_duration");

            var nav = document.querySelector('.navigation');
            var navToggle = nav.querySelector('.navigation__toggle-btn');
            var navBackground = nav.querySelector('.navigation-background');

//            filterRangeDuration.addEventListener('change', function(e){
//                filterInputDuration.value=filterRangeDuration.value;
//            });
//            filterInputDuration.addEventListener('change',  function(e){
//                filterRangeDuration.value = filterInputDuration.value;
//            });

            filterRangeSum.addEventListener('change', function(e){
                var sum = filterRangeSum.value;
                var lastDigit =  sum.length % 3;
                var newString = "";
                newString = sum.slice(0, lastDigit);
                for (var i=lastDigit; i <= sum.length; i=i+3){
                    newString += " " + sum.slice(i,i+3);
                }
                filterInputSum.value= newString;
            });
            filterInputSum.addEventListener('change',  function(e){
                filterRangeDuration.value = filterInputDuration.value;
            });

            navToggle.addEventListener('click', function(e){
                var body = document.querySelector('body');
                if(nav.classList.contains("navigation--opened")){
                    nav.classList.remove("navigation--opened");
                    nav.classList.add("navigation--closed");
                    body.classList.remove("nav-opened");
                } else {
                    nav.classList.remove("navigation--closed");
                    nav.classList.add("navigation--opened");
                    body.classList.add("nav-opened");
                }
            });
        </script>
    </body>
</html>
